.ipynb_checkpoints
.DS_Store
/Data
/venv
.idea/
requirements.txt
conda-cheatsheet.pdf
classification_LR_and_SVM.ipynb
missing_values.ipynb
decision_trees.ipynb
basic_statistica.ipynb
correlation_analysis.ipynb