.ipynb_checkpoints
prophet.ipynb
*.sql
.DS_Store
/Data
/Downloads
/ml-latest
/Основы_pandas
/Доп_материалы
.idea/
/dz_05.02/res_*/*.crc
/kafka-streams-practice
/clickhouse/.idea/
/mlruns
/cloudz
conda-cheatsheet.pdf
/dz_05.02
dz_8.13-pro.ipynb
shapley.ipynb
forecast.ipynb